<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cache</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="./styles/style.css">
    <script type="module" src="./scripts/main.js"></script>

  </head>
  <body>
    <div class="col">
      <div class="row header">
        <h2>Memória Cache</h2>
      </div>

      <div class="row">
        <div class="col">

          <div class="giveitsomepadding">
            <label class="form-label">Ler Conteúdo do Endereço</label>
            <input type="text" class="form-control" id="address" placeholder="Endereco">
            <div class="submitButton">
              <button type="button" class="btn btn-primary" id='onClickReadAddress'>Ler Endereço</button>
            </div>
          </div>

          <div class="giveitsomepadding">
            <label class="form-label">Escrever em endereço de memória</label>
            <input type="text" class="form-control" id="write" placeholder="Endereço Escrita">
            <div class="submitButton">
              <button type="button" class="btn btn-primary" id='onClickWriteAddress'>Ler Endereço</button>
            </div>
          </div>

        </div>

        <div class="col">
          <div class="" id="hits"></div>
        </div>
      </div>

      <div class="info" id="infos"></div>

      <div id='result' class='mt-2'></div>

      <div id='cache' class='col-lg-7 col-md-12 mt-2'>
      </div>
      <div id='mp' class='col-lg-5 col-md-12 mt-2'>
      </div>

  </body>
</html>
